* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(179, 217, 255);
}

a {
  color: #001a33;
  text-decoration: none;
}

.welcome {
  background-color: #001a33;
  color: #ffffff;
  padding: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* position */
/* .centered {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

/* title */
.position .title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #001a33 !important;
}

/* section quiz */
.quiz {
  background-color: #001a33;
  color: #ffffff;
  padding: 3rem;
  border-radius: 1.2rem;
  height: 33rem;
}

.bg-red {
  background-color: rgb(255, 255, 255);
  width: 12rem;
  height: 1.3rem;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.quiz h3 {
  color: #cacad8;
  border-bottom: 1px dotted #ffffff;
  margin-bottom: 1.2rem;
}

.quiz #question {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.2rem;
}

.quiz .res button {
  text-align: center;
  margin-bottom: 1.2rem;
  width: 12rem;
  height: 3rem;
  border-radius: 1.2rem;
  border: 2px solid rgb(7, 49, 112);
  background-color: #001a33;
  color: #ffffff;
  cursor: pointer;
}

.quiz .next {
  width: 6rem;
  height: 3rem;
  border-radius: 1.2rem;
  background-color: #0066ff;
  border: none;
  padding: 0.8rem;
  text-align: center;
  margin: 0 0 0 3rem;
}

.quiz a {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  background-color: #001a33;
  color: #ffffff;
  padding: 3rem;
  margin-top: 2.2rem;
  border-bottom: 1px solid #001a33;
  text-align: center;
}

.toggle-color {
  background-color: #cacad8 !important;
  color: #000000 !important;
}